*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/AndroidProjectSystem.xml
.DS_Store
/build
/app/build/
/captures
.externalNativeBuild
.cxx
local.properties
/.codebuddy
# Android
/app/release/
*.apk
*.aab
*.jks
*.keystore
!gradle/wrapper/gradle-wrapper.jar

# Logs / Temp / Debug
*.log
build_log.*
logs/
*.hprof
*.tmp
